<!doctype html>
<head> 
  <link rel="stylesheet" type"text/css" href="css/team4.css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-5783350-11', 'auto');
  ga('send', 'pageview');
</script>

</head>

<body> 
  <a href = "/">
    <img src="/images/logo2.png" alt="aLot" style="width:98%;heigth:10%"></a>
    <div class="content"> 
      <div class="buttons" style="width:100%"> 
      <div class="buttonsD"> <a href="slider">
        <div><h3 class="food">Find Activity</h3>
        </div></a>
        <a href="history"><div><h3 class="fun">History</h3></div></a>
      <a href="settings"><div><h3 class="fun">Settings</h3></div></a>
      <a href="profile"><div><h3 class="fun">Profile</h3></div></a>
      <a href="logout"><div><h3 class="fun">LogOut</h3></div></a>
      </div>

  <a href="suggestions">
  <img STYLE="position:relative WIDTH:15%;" vertical  src="/images/go_arrow.png">
  <p class="buttonsD">Quick Suggestions</p>
  </a>
</body>
</body>
</html>