<!DOCTYPE html>
<html>
<head>
  <script>
      function goBack() {
        window.history.back()
      }
    </script>
  <title>Experience Personalization</title>
<head> 
  <link rel="stylesheet" type"text/css" href="css/bubbles.css">
  <link rel="stylesheet" type"text/css" href="css/team4.css">
</head>

<body>
    <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="/">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="history">History</a></li>
      <li><a href="logout">LogOut</a></li>
    </ul> 
  </div>

  <p STYLE="WIDTH:100%; padding-top:5%" align="center"> <font size="42">Your Personalized Suggestions!</font> </p>

{{#each suggestions}}
<div class="sug" id="{{id}}">
<div> <h2 class="food">{{ss}}</h2></div>
<div> <a href="rating"> <img src ={{imgURL}} class = "result_img"></div>
<div> <img src ={{mapURL}} class = "result_map"></div>
</a>
</div>
{{/each}}

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/hci-friends.js"></script>

</body>
</html>