<!DOCTYPE html>
<html>
<head>
  <title>Triple bubble</title>
  <link rel="stylesheet" type="text/css" href="bubbles.css">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
</head>
<body>
      <p>
    <a href="wait.html">LogOut</a>
      </p> 
  <h1>iLike</h1>
    <h1 STYLE="position:absolute; TOP:19%; LEFT:22%;"><a class = "dollar" href="index.html">You want to do this: </a></h1>
    <h2 STYLE="position:absolute; TOP:39%; LEFT:42%;">K-BBQ</h2>
<div class="navigation">
  <ul id="menu">
    <li><a href="history.html">History</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="friends.html">Find Friends</a></li>
  </ul>  
</div>

<div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="index.html">Home</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="wait.html">Settings</a></li>
    </ul> 
  </div>
</body>




</html>