<!doctype html>
<head> <link rel="stylesheet" type"text/css" href="css/team4.css">
</head>
<body> 
  <a href = "index.handlebars">
    <img src="README.jpg" alt="aLot" style="width:75%;heigth:15%"></a>
    <div class="content"> 
      <div class="buttons"> 

      <div class="buttonsD"> <a href="questions"><div><h3 class="food">Find What To Do</h3></div></a>
        <a href="history"><div><h3 class="fun">History</h3></div></a>
      <a href="history.handlebars"><div><h3 class="fun">Settings</h3></div></a>
      <a href="questions.handlebars"><div><h3 class="fun">Profile</h3></div></a>
      <a href="index.handlebars"><div><h3 class="fun">LogOut</h3></div></a>
      </div>
    </div>
    
</div>
 
</body>



  <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="index.html">Home</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="wait.html">Settings</a></li>
    </ul> 
  </div>
</body>




</html>