<!doctype html>
<head> <link rel="stylesheet" type"text/css" href="css/team4.css">
</head>
<body> 
  <a href = "index.handlebars">
    <img src="/images/README.jpg" alt="aLot" style="width:75%;heigth:15%"></a>
    <div class="content"> 
      <div class="buttons"> 

      <div class="buttonsD"> <a href="slider">
        <div><h3 class="food">Find What To Do</h3>
        </div></a>
        <a href="history"><div><h3 class="fun">History</h3></div></a>
      <a href="history"><div><h3 class="fun">Settings</h3></div></a>
      <a href="profile"><div><h3 class="fun">Profile</h3></div></a>
      <a href="logout"><div><h3 class="fun">LogOut</h3></div></a>
      </div>
    </div>
    
</div>
 
</body>
</body>
</html>