<!DOCTYPE html>
<html>
<head>
  <title>Your Personalized Results</title>
  <link rel="stylesheet" type"text/css" href="css/bubbles.css">
  <link rel="stylesheet" type"text/css" href="css/team4.css">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
</head>
<body>

  <h1>iLike</h1>
    <h1 STYLE="position:absolute; TOP:19%; LEFT:22%;"><a class = "dollar" href="index.html">Thank You For Using Free-Time!</a></h1>


  <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="/">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="settings">Settings</a></li>
    </ul> 
  </div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/hci-friends.js"></script>

</body>

</html>
