<!DOCTYPE html>
<html>
<head>
  <title>Time Selection</title>
  <link rel="stylesheet" type"text/css" href="css/bubbles.css">
  <link rel="stylesheet" type"text/css" href="css/team4.css">
</head>
<body>
  <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="/">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="settings">Settings</a></li>
      <li><a href="logout">LogOut</a></li>
    </ul> 
  </div>
  <h1>iLike</h1>

    <h2 class="prompt" STYLE="position:relative;WIDTH:100%; HEIGHT:15%">How Much Time Do You Have?</h2>
    <div ><input  STYLE="position:relative" type=range min=0 max=5 value=3 id=fader></div>
    

  	<div class="next" STYLE="position:relative WIDTH:80%; HEIGHT:50%" class="slide"><a class="next" href="questions">
  	<img src="/images/go.jpg" >
  	</a></div>
  </a></div>

  

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/hci-friends.js"></script>

</body>
</html>