body
{
	background-color: #81bda4;
}

h1 {
    color: orange;

}

p {
    font-family: "Times New Roman";

}

.slide
{


}
.next
{
	padding: 20px;
	margin: 20px;
}


.prompt
{
	text-align: center;
	padding: 5%;
	font-size: 350%;
    background-color: #CC632A;
    border-radius: 0 30px 30px 0;
    width:100%;
    color:#5D3216;
}


.navigation
{
	height: 15%;
	bottom: 2%;
	position: relative;
	width: 100%;
	padding-bottom: 3%;
}

ul#menu {
	position: absolute;
    padding: 0;
    width: 100%;
}

ul#menu li {
    display: inline;
    width: 20%;

}

ul#menu li a {
    background-color: tan;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 200%;
    border-radius: 4px 4px 0 0;
    width: 25%;
}

ul#menu li a:hover {
    background-color: silver;
}