caption
{
	font: italic bold Georgia, serif;
	color: red;
}
h1
{
	color:  #81bda4;
}
html
{
	vertical-align: center;
	text-align: center;

}
body
{
		background-color:#81bda4;
}


a{
	color: red;
	text-decoration: none;


}
h2
{
	text-decoration: none;
}
h3
{
}
img
{
	border-radius: 5%;
}
input.vertical 
{ -webkit-appearance: slider-vertical; writing-mode: bt-lr; }

.content
{
	width: 100%;
	height: 30%;

	border-radius: 5%;
	overflow: hidden;
	background-color: lightgreen;

}
.toResults
{
	width: 20%;
	font-size: 40px;


}
.neutral
{
	float: left;
	width: 20%;
	height: 60%;
	position: relative;
	border-radius: 20%;
	background-color: lightblue;
	margin-top: 13%;
	padding: 2%;
	padding-top: 25%;
	padding-bottom: 25%;
	color: BLACK;
	text-align: center;


}
.buttons
{

	padding-right: 5%;
	padding-top: 20px;
	float: left;
	width: 66%;


}


.buttonsD
{
	font-size: 500%;
}

.slider
{
	float: right;
	width: 25%;
	font-size: 20%;
	position: relative;
	height: 100%%;

}
.food
{
	background-color: #CC632A;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
	color:#5D3216;
	font-size: 93px;
}
.food2:hover
{
	background-color: #5D3216;
	color: #CC632A
}

.fun
{
	background-color: #B1C455;
	border-radius: 0 30px 30px 0;
	padding-left: 30px;
	color: #647448;
	font-size: 93px;
}

.funS
{
	background-color: #647448;
	color: #B1C455;
}

.fun2:hover
{
	background-color: #647448;
	color: #B1C455;
}

.result_img
{
	padding-bottom: 3%;
	width: 100%;
}
.result_map
{
	padding-bottom: 5%;
	width: 100%;
}


ul#menu {
	position: absolute;
    padding: 0;
}

ul#menu li {
    display: inline;
    width: 25%;
}

ul#menu li a {
    background-color: tan;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    width: 25%;
}

ul#menu li a:hover {
    background-color: silver;
}